{% extends 'main.html' %}

{% block content %}
<section class="container--events">
    <div class="section">
        <h3>Events</h3>
    </div>

    <div class="events--list">
        {% for event in events %}
        <a href="{% url 'event' event.id %}">
            <div class="wrapper-event">
                <h3>{{event.name}}</h3>
                <p>{{event.participants.all.count}} registered</p>
                <p>Registration deadline: {{event.registration_deadline}}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

<section class="section">
    <h3> 
        {% if users.count > 1 %}

        Users: {{ users.count }}
        {% else %}
        User: {{ users.count }} 
        {% endif %}
    </h3>
    <div class="users--list section">
        {% for user in users %}
        <a href="{% url 'profile' user.id %}">
            <div class="users--wrapper">
                <img class="user--avatar--sm" src="{{ user.avatar.url }}" alt="{{user.name}}" />
                <h4>{{user.name}}</h4>
                {% if user.bio %}
                <p>{{user.bio|truncatechars:50}}</p>
                {% endif %}
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock content %}