* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(249, 250, 251);
}

.section {
    margin: 1em 0;
}

.text--success{
    color: #198754;
}
.container--main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.btn{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(204, 204, 204);
    color: black;
    display: block;
    width: fit-content;
    margin: 10px;
}

.btn--warning{
    background-color: #FFE900;
}
.btn-primary{
    background-color: steelblue;
    color: wheat;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(218, 218, 218);
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.user--welcome{
    display: flex; 
    align-items: center;
}
.user--welcome--wrapper{
    font-size: 1rem;
    font-style: italic;
    font-weight: lighter;
}
/* HOME */
.events--list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.wrapper-event {
    border: 1px solid rgb(218, 218, 218);
    padding: 1em;
    border-radius: 5px;
}


.users--list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.users--wrapper {
    border: 1px solid rgb(218, 218, 218);
    padding: 1em;
    border-radius: 5px;
}

.user--avatar--sm {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user--avatar--lg{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* EVENT PAGE STYLING */
#event--action-wrapper{
display: flex;
flex-wrap: wrap;
align-items: center;
}
@media screen and (max-width: 1200px) {
    .container--main {
        width: 100%;
    }
}