* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(249, 250, 251);
}

 /*     box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro';
    background-color: rgb(249, 250,251);
    line-height: 1.5em;
    color: #000;
    font-size: 14px; *
     {
    color: #637287;
}

.section {
    margin: 1em 0;
}

.text--success{
    color: #198754;
}
.container--main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.btn{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: rgb(204, 204, 204);
    color: black;
    display: block;
    width: fit-content;
    margin: 10px;
    border: no;
}

.btn--warning{
    background-color: #FFE900;
}
.btn-primary{
    background-color: steelblue;
    color: wheat;
}

.error{
    color: #E55D42;
}

.success{
    color: #31a62b;
}

.info{
    color: #3aabd4;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(218, 218, 218);
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.user--welcome{
    display: flex; 
    align-items: center;
}
.user--welcome--wrapper{
    font-size: 1rem;
    font-style: italic;
    font-weight: lighter;
}
/* HOME */
.events--list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.wrapper-event {
    border: 1px solid rgb(218, 218, 218);
    padding: 1em;
    border-radius: 5px;
}


.users--list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.users--wrapper {
    border: 1px solid rgb(218, 218, 218);
    padding: 1em;
    border-radius: 5px;
}

.user--avatar--sm {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user--avatar--lg{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* EVENT PAGE STYLING */
#event--action-wrapper{
display: flex;
flex-wrap: wrap;
align-items: center;
}

.paginator--wrapper{
    display: flex;
    flex-wrap: wrap;
}

/* LOGIN REGISTRATION */

.login-register-container{
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid rgb(218, 218, 218);
    padding: 1em;
    border-radius: 5px;
}

.form-field--wrapper{
    margin-top: 1em;
    margin-bottom: 1em;
}
input{
    width: 100%;
    padding: 10px 2px;
}

@media screen and (max-width: 1200px) {
    .container--main {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .events--list{
        grid-template-columns: 1fr;
    }

    .users--list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (max-width: 600px) {
    .users--list{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px) {
    .users--list{
        grid-template-columns: 1fr;
    }
}